<strong> Welcome to app1 from project1 </strong>
<br>
<br>
<a href="{% url 'app1:login' %}"> Login </a> to use this app <br>
<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique massa eu porttitor tempus. Vivamus id egestas
mauris, eget iaculis augue. Praesent egestas rutrum orci eu ultrices. Phasellus diam ligula, blandit eu nunc ac,
tincidunt tempor augue. In eu maximus ante. Vivamus commodo vestibulum orci et efficitur. Duis cursus est et ultricies
sollicitudin. Nam eu lectus molestie enim ornare vestibulum.<br>
<br>
Vivamus eleifend ipsum quis tempor euismod. Mauris vitae orci laoreet, efficitur justo ac, vulputate massa. In fringilla
ornare faucibus. Donec a lorem dolor. Cras at venenatis nibh. Sed blandit elit id enim suscipit, aliquet dapibus ex
lobortis. Fusce laoreet porta enim non convallis. Fusce at consequat velit. Orci varius natoque penatibus et magnis dis
parturient montes, nascetur ridiculus mus. Pellentesque suscipit varius lacus id dapibus. Curabitur ex est, aliquet eget
libero sed, luctus tristique dui. Quisque diam erat, tincidunt consectetur metus a, condimentum fermentum augue.
