<strong> Welcome to app1 from project1 {{user}} </strong>
<h4> -- Account information --</h4>
Your username: {{ user }}<br>
Your e-mail:   {{ user.email }}<br>

<h4> -- My processes --</h4>
    <h5> - Pending processes --</h5>
    {% for request in pending_requests %}
        <li> {{ request }} </li>
    {% endfor %}
    <h5> - Processes in progress - </h5>
    {% for request in started_requests %}
        <li> {{ request }} </li>
    {% endfor %}
    <h5> - Finished processes - </h5>
    {% for request in finished_requests %}
        <li> {{ request }} </li>
    {% endfor %}

<h4> -- Launch new process --</h4>
<form action="{% url 'app1:requestProcess' %}" type="GET">
    <button type="submit"> Request a new process </button><br>
<input type="hidden" name="user" value="{{ user }}" />
</form>