<strong> Welcome to app1 from project1 {{user.username}} </strong>
<h5> -- Account information --</h5>
Your username: {{ user.username }}<br>
Your e-mail:   {{ user.email }}<br>

<h5> -- My processes --</h5>
{% for request in requests %}
        <li> {{ request }} </li>
{% endfor %}
<h5> -- Launch new process --</h5>
<form action="{% url 'app1:requestProcess' %}" type="GET">
    <button type="submit"> Request a new process </button><br>
<input type="hidden" name="user" value="{{ user }}" />
</form>