<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Request was successful</title>
</head>
<body>
    <h5> Your request was successfuly processed</h5>
    <form action="{% url 'app1:request_successful' %}" method="GET">
        <input type="hidden" name="usr" value="{{ user }}"/>
        <button type="submit" name="back_to_main" value="back_to_main"> Go back to the main page </button><br>
        or<br>
        <button type="submit" name="make_another_request" value="make_request"> make another request for a new process </button>
    </form>
</body>
</html>